/* Import czcionki */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --kolor-jeden: #1c1f4c;
  --kolor-dwa: #00848c;
  --kolor-trzy: #037272;
  --kolor-cztery: #fccf17;
  --kolor-pięć: #fec20f;
  --kolor-sześć: #edebd9;

  --hex-width: 120px;
  --hex-height: 120px;
  --hex-margin-left: calc(-1 * (var(--hex-width) / 2));


  --font-size-multiplier-default: 0.1;
  --font-size-multiplier-phone: 0.09;
  --hex-title-position-multiplier-default: 0.25;
  --hex-title-position-multiplier-phone: 0.4;
  /*Jak wysoko/nisko jest napis w komórce heksa*/
  --hex-img-height-multiplier: 0.6;
  --hex-item-filozofia-kulturoznawstwo-y-transform: 1.5;
  --hex-items-x-transform: 1.3;
  --hex-items-y-transform: 0.7;
  --hex-scale-after-hover: 1.2;
}

@media only screen and (max-width: 700px) {
  :root {
    --hex-width: 100px;
    --hex-height: 100px;
  }
}


/* USTAWIENIA POCZĄTKOWE */
body {
  line-height: 1.8;
  color: var(--kolor-jeden);
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(237, 235, 217, 0.566), rgba(237, 235, 217, 0.685));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: #2054e1; */
  color: var(--kolor-jeden);
}

.display-4+.lead {
  font-size: 30px;
}


a {
  font-weight: 700;
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

small {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.fa-brain {
  color: var(--kolor-cztery);
}

/* PASEK NAWIGACJI */
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: var(--kolor-jeden);
  padding: 0;
  color: white;
}

.navbar-toggler[aria-expanded="true"] .navbar-burger-menu .navbar-burger-menu-line {
  position: absolute;
}

.navbar-toggler[aria-expanded="true"] .navbar-burger-menu .navbar-burger-menu-line:nth-of-type(1) {
  top: 50%;
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-burger-menu .navbar-burger-menu-line:nth-of-type(2) {
  top: 50%;
  transform: rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-burger-menu .navbar-burger-menu-line:nth-of-type(3) {
  bottom: -10px;
}

.navbar-burger-menu {
  width: 1.2em;
  height: 1.2em;
  padding: 2px;
  position: relative;
  overflow: hidden;
}

.navbar-burger-menu .navbar-burger-menu-line {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.navbar-burger-menu .navbar-burger-menu-line:nth-of-type(1) {
  top: 0;
}

.navbar-burger-menu .navbar-burger-menu-line:nth-of-type(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.navbar-burger-menu .navbar-burger-menu-line:nth-of-type(3) {
  bottom: 0;
}

.logo-strony {
  font-size: 22px;
  text-transform: uppercase;
  color: #3BE9A3 !important;
}

.logo-strony-mozg {

  width: 40px;
  height: 40px;
  padding: 0;
}

.navbar .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--kolor-cztery);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--kolor-cztery);
}

/* PIERWSZA SEKCJA */
#start {
  background: url(../assets/STARTOWA_2_3_.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* 942 */
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  #start {
    background: url(../assets/STARTOWA_1-min.png);
    /* to trzeba zmienić */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* .helperwrapper {
  background: linear-gradient(rgba(255, 255, 255, 0.361), rgba(237, 235, 217, 0.922));
} */
#start .container {
  margin-left: 2%;
}

#start h1 {
  font-weight: 700;
  color: var(--kolor-jeden);
  text-shadow: 0 0 3px #000;
  background: #edebd9;
  display: inline;
  border-radius: 10px;

}

#start h2 {
  color: var(--kolor-jeden);
  text-shadow: 0 0 3px #000;
  background-color: #edebd9;
  display: inline-block;
  margin-top: 0.3em;
  max-width: 500px;
  border-radius: 10px;
}

#start p {
  max-width: 550px;
  margin: 24px auto;
}

.heksagon {
  width: 400px;
  height: 400px;
}

/* SEKCJA 2 */

/* SEKCJA ZESPOLY */
div.teamKomunikacja img {
  margin-bottom: 20px;
}

div.teamAnimal img {
  margin-bottom: 10px;
}

div.teamAnimal, div.teamKomunikacja {
  margin: 25px;
}

#naukowe-page li {
  font-size: 1.25rem;
  font-weight: 300;
}


section#naukowe-page p {
  color: var(--kolor-jeden);
}

.paragrafyzespoly h6 {
  margin-top: 30px;
}

/* STOPKA - FOOTER */
footer {
  background: var(--kolor-jeden);
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .ikonki-social a {
  color: var(--kolor-sześć);
}

footer .ikonki-social a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
  text-decoration: none;
}

footer .ikonki-social a:hover,
footer .footer-links a:hover {
  color: var(--kolor-cztery);
}

.logo-text {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--kolor-cztery) !important;
}

footer .title-sm {
  color: var(--kolor-sześć);
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
 * {

 }
 html {
   
 } */




/* PRZYCISK Z MÓZGIEM */

@media screen and (max-width: 700px) {
  body {
    width: 100%
  }
}

.menu-item {
  text-decoration: none;
  font-size: 0.57rem;
  font-weight: 700;
}

.menu a {
  color: inherit;
}

.menu-item {
  background: var(--kolor-jeden);
  border-radius: 100%;
  width: var(--hex-width);
  height: var(--hex-height);
  margin-left: var(--hex-margin-left);
  position: absolute;
  color: black;
  text-align: center;
  line-height: 80px;
  padding:8px;
  
}

a.menu-item {
  position: absolute;
}

a.menu-item img {
  position: relative;
  top: 11px;
}

.menu-item p {
  position: relative;
  color: var(--kolor-jeden);
  bottom: calc(var(--hex-height) * var(--hex-title-position-multiplier-default));
  font-size: calc(var(--hex-height) * var(--font-size-multiplier-default));
  font-weight: 400;
  transform: translateY(50%);
}




@media screen and (max-width: 700px) {
  .menu-item p {
    position: relative;
    bottom: calc(var(--hex-height) * var(--hex-title-position-multiplier-phone));
    font-size: calc(var(--hex-height) * var(--font-size-multiplier-phone));
    font-weight: 400;
  }
}

.menu img {
  height: calc(var(--hex-height) * var(--hex-img-height-multiplier));
}



.menu {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
  margin-top: 250px;
  margin-bottom: 250px;
}


.menu-item {
  transition: all 0.1s ease 0s;
}

.menu-item:hover {
  background: var(--kolor-sześć);

}

.menu-item:hover p {
  color: var(--kolor-jeden) !important;
}

.menu-item:hover img {

  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);
}

.menu-open-button {
  cursor: pointer;
  background: var(--kolor-jeden);
  border-radius: 100%;
  width: var(--hex-width);
  height: var(--hex-height);
  margin-left: var(--hex-margin-left);
  position: absolute;
  color: black;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.menu-open-button img {
  height: calc(var(--hex-height));
}

.menu-open-button:hover {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, 0, 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, 0, 0);
  background: var(--kolor-sześć);

}

.menu-open-button:hover img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);
}

.blue {
  transform: translate3d(0, calc(-1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  /* background-color: #669AE1; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.blue:hover {
  color: #669AE1;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(-1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(-1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);

}


.active-1 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(-1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(-1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  background: var(--kolor-sześć);
}

.active-1 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-1 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}



.green {
  transform: translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  /* background-color: #70CC72; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.green:hover {
  color: #70CC72;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
}


.active-2 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);

  background: var(--kolor-sześć);
}

.active-2 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-2 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.red {
  transform: translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  /* background-color: #FE4365; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.red:hover {
  color: #FE4365;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
}

.active-3 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);

  background: var(--kolor-sześć);
}

.active-3 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-3 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.purple {
  transform: translate3d(0, calc(1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  /* background-color: #C49CDE; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.purple:hover {
  color: #C49CDE;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
}

.active-4 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(0, calc(1 * (var(--hex-item-filozofia-kulturoznawstwo-y-transform) * var(--hex-height))), 0);
  background: var(--kolor-sześć);
}

.active-4 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-4 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.orange {
  transform: translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  /* background-color: #FC913A; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.orange:hover {
  color: #FC913A;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
}

.active-5 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(-1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  background: var(--kolor-sześć);
}


.active-5 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-5 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.lightblue {
  transform: translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  /* background-color: #62C2E4; */
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); */
}

.lightblue:hover {
  color: #62C2E4;
  text-shadow: none;
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
}

.active-6 {
  -webkit-transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  transform: scale(var(--hex-scale-after-hover), var(--hex-scale-after-hover)) translate3d(calc(-1 * (var(--hex-items-x-transform) * var(--hex-height))), calc(1 * (var(--hex-items-y-transform) * var(--hex-height))), 0);
  background: var(--kolor-sześć);

}

.active-6 img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

.active-6 p {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);

}

#non-active {
  pointer-events: none;
}

.credit {
  margin: 24px 20px 120px 0;
  text-align: right;
  color: #EEEEEE;
}

.credit a {
  padding: 8px 0;
  color: #C49CDE;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.credit a:hover {
  text-decoration: underline;
}







#second-section {
  /* padding: 70px 0px 20px; */
  min-height: 100vh;
  /* background: linear-gradient(rgba(237, 235, 217, 0.922), rgba(255, 255, 255, 0.361)); */
}

#second-section .karty {
  margin-top: 10%;
}

#second-section .icon {
  /* padding: 10px 0px; */
  /* background-color: #fff; */
  margin: -40px auto 20px;
  /* border-radius: 50%; */
  /* background-color: var(--kolor-jeden); */
  width: 90px;
  /* height: auto; */
  background-color:white;
  border-style:solid;
  border-color:#1c1f4c;
  border-radius:inherit;
  padding: 12px;
  
}

#second-section .icon2 {
  margin: -40px auto 20px;
  background-color:white;
  border-style:solid;
  border-color:#1c1f4c;
  border-radius:inherit;
  width: 90px;
  padding: 16px 11px;

}

#second-section .icon3 {
  margin: -40px auto 20px;
  background-color:white;
  border-style:solid;
  border-color:#1c1f4c;
  border-radius:inherit;
  width: 90px;
  padding: 22px 10px;
}

#second-section img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(1772%) hue-rotate(202deg) brightness(92%) contrast(100%);
}

#second-section .icon {
  height: 100px;
}

#second-section .icon i {
  color: var(--kolor-dwa);
  font-size: 40px;
  margin: 0 auto;
  display: table;
}

#second-section .box-shadow {
  margin-bottom: 70px;
  min-height: 512px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  padding: 15px;
  border-radius: 10px;
  /* float: right; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#second-section p {
  font-size: 15px;
  line-height: 23px;
  color: #a09f9f;
  color: var(--kolor-jeden);
}

#second-section a {
  /* color: var(--kolor-dwa); */
  font-size: 16px;
  /* float: right; */
  align-self: flex-end;
  text-decoration: none;
  transition: 0.5s;
}

#second-section h4 {
  text-transform: uppercase;
  text-align: center;
  /* color: #6b6b6b; */
  font-weight: 500;
}

.linki {
  float: none;
  color: #47476B;
  text-decoration: none;
}

.linki:hover {
  /* float: none; */
  color: var(--kolor-cztery) !important;
  /* text-decoration: none; */
}

.col-md-10 {
  color: #fff;
}

footer {
  color: #fff;
}








#third-section {
  min-height: 100vh;
  /* background: linear-gradient(rgba(255, 255, 255, 0.361), rgba(237, 235, 217, 0.922)); */
}

.program {
  margin-top: 5%;
  padding: 15px;
}

.program h2 {
  font-weight: 400;
}

.program h4 {
  margin-top: 5%;
  font-weight: 300;
}

/* .featurette img {
  hard coded początkowa rozdzielczość
  width: 500px; 
  height: 500px;
} */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}





















#intermission {
  background: var(--kolor-jeden);
}

#intermission h2 {
  color: white;
}







@media only screen and (max-width: 700px) {
  .customdivider {
    display: none;
    visibility: hidden;
  }

  .col-md-5 {
    margin-top: 5%;
  }
}

/* STARE RZECZY

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  background-color: #AB47BC;
  border: none;
  color: #fff
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff
}

.header {
  padding-top: 40px
}
 */


/* PRZYCISKI */
/* .btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
}

.btn-brand {
    background-color: #e93b81;
    color: #3BE9A3;
}

.btn-brand:hover{
    background-color: #ce2f6e;
    color: #2FCE8F;
} */